@charset "utf-8";
/* CSS Document */
div.prodSlideShow img{
	width:50%;
	height:800px;
	position:relative;
	top:0px;
	left:350px;
}
a#previousPage{
	float:right;
	margin-right:200px;

}
button.previousImage{
	position:relative;
	top:-400px;
	left:350px;
}
button.nextImage{
	position:relative;
	top:-400px;
	left:970px;
}
