@charset "utf-8";

h1{
	text-decoration:underline;
}
p{
	font-size:17px;
	line-height:20px;
}

*{
	padding:0px 25px;
}

a:link{
	text-decoration:none;
}

a:active{
	color:blue;
}

a:active::before{
	content:"<";
	color:blue;
}

a:active::after{
	content:">";
}