@charset "utf-8";

.Adidas h1{
	text-decoration:underline;
	margin-left:200px;
}

.Adidas nav > ul{
	width: 50px;
	float: left;
	list-style-type:none;
}

.Adidas li{
	margin-top:50px;
	font-size:20px;
}

.Adidas a:link{
	text-decoration:none;
	margin-top:20px;
}

.Adidas #first img, .Adidas #second img{
	outline-width:2px;
	outline-style:solid;
	outline-color:black;
	height:300px;
	width:300px;
}

.Adidas #first{
	float:left;
	position:relative;
	margin:100px 100px 0px 275px;
}

.Adidas #second{
	float:left;
	position:relative;
	margin:100px 250px 0px 100px;
}

.Adidas h3{
	text-align:center;
	color:black;
}

.Adidas table.firstpage{
	margin-top:100px;
	margin-left:42em;
}

.Adidas table.gallery{
	margin-top:100px;
	margin-left:37em;
}

.Adidas #next img, .Adidas #previous img, .Adidas #top img{	
	width:40px;
	height:40px;
}


