@charset "utf-8";

.Promotion h1{
	text-decoration:underline;
	margin-left:150px;
}

.imgbig img{
	position:absolute;
	width:200px;
	height:200px;
	z-index:1;
}

.imgsmall img{
	position:absolute;
	width:150px;
	height:150px;
	z-index:8;
}

.Promotion a img{
	outline-width:2px;
	outline-style:solid;
	outline-color:black;
	height:300px;
	width:300px;
	z-index:0;
}

.Promotion #first{
	float:left;
	position:relative;
	margin:100px 100px 20px 250px;
}

.Promotion #second{
	float:left;
	position:relative;
	margin:100px 250px 20px 100px;
}

.Promotion h3, .Promotion h4{
	text-align:center;
	color:black;
}

.Promotion a:link{
	text-decoration:none;
}

